
body{
    width:960px;
    margin-right: auto;
    margin-left: auto;
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    margin-top: 100px;
    font-size: 30px;
}
nav {
    text-align :right;
    margin: 5px;
}
nav a{
    color: white;
    text-align: right;
    text-decoration: none;
    padding: 10px;
}
nav a:hover {
    text-decoration: underline;
}
header {
    height: 429px;
    background-image: url("../sky.jpeg");
}
header h1, h5 {
    text-align: center;
    color: white;
}
article{
    float: left;
    padding: 10px;
    width: 60%;
}
article h3{
    color:#30396D;
    text-align: left;
}
.quote{
    border: 1px solid #888;
    padding: 20px;
    display: inline-block;
    margin-left: 70px;
    font-style: italic;
}
.citation {
    text-align: right;
}
aside{
    float: right;
    padding-top: 20px;
    width: 30%;
    color: #30396D;
}
aside a:hover{
    text-decoration: none;
}
.categories{
    padding: 10px;
}
.tags{
    border-top: 2.5px solid #30396D;
    padding: 10px;
    padding-bottom: 25px;
}
.tags a {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #888;
    margin: 2px;
    padding: 5px;
}
.tags a:hover{
    text-decoration: underline;
}
.image{
    border-top: 2.5px solid #30396D;
    border-bottom: 2.5px solid #30396D;
    padding: 10px;
    padding-bottom: 20px;
}
.image img{
    border: 1px solid #000;
    padding: 2px;
}
footer {
    width: 100%;
    background-color: #30396D;
    color: white;
}
footer div {
    display: inline-block;
    width: 30%;
    padding: 5px;
    vertical-align: text-top;
    margin-top: 10px;
    margin-bottom: 10px;
}
footer a{
    text-decoration: none;
    color: white;
    line-height: 1.6;
}
footer a:hover{
    text-decoration: underline;
}
.news{
    margin-left: 30px;
}
footer h3{
    text-align: left;
}
.socials a {
    display: block;
    border: 1px solid white;
    padding: 10px;
    margin: 10px;
    color: white;
    text-align: center;
}
.clear{
    clear:both;
}